<h1 style="text-align:center">Users Listing</h1>


<button type="button" style="float:left; margin-left:30px; width: 150px; height:50px; margin-top:0px">
  <a style="text-decoration: none; color:black; font-size:15px" href= "users/new"style="margin: 15px, text-decoration:none">Create New User</a>
</button>


<table style="border: 1px black solid; width: 90%; border-collapse:collapse; font-size:20px; margin:25px; text-align:center; margin-top:100px">
  <tr>
    <th style="border: 1px black solid">Id </th>
    <th style="border: 1px black solid">Name </th>
    <th style="border: 1px black solid">EMail</th>
    <th style="border: 1px black solid">Username </th>
    <th style="border: 1px black solid" colspan ="3">Actions</th>
  </tr>
        
  <% @users.each do |user| %>
      <tr>
        <td style="border: 1px black solid"> <%= user.id %> </td>
        <td style="border: 1px black solid"> <%= user.name %> </td>
        <td style="border: 1px black solid"> <%= user.email %> </td> 
        <td style="border: 1px black solid"> <%= user.username %> </td>
        <td style="border: 1px black solid"> <%= button_to "View", user_path(user), method: :get%> </td>
        <td style="border: 1px black solid"> <%= button_to "Edit", edit_user_path(user), method: :get%> </td>
        <td style="border: 1px black solid"> <%= button_to "Delete",user_path(user), method: :delete, data: {confirm: "Are you sure?"}%> </td>

      </tr>
  <% end %>
</table>





