<h1>User Details</h1>

<p>
   Id = <%= @user.id%> <br>
   Name =  <%= @user.name%> <br>
   Email = <%= @user.email%> <br>
   Username = <%= @user.username%> <br>
</p>


<%= button_to "Back", users_path, method: :get%>

<%= button_to "Edit", edit_user_path, method: :get%>